@import "color";
@import "fonts";
@import "reset";

$ftcomWidth:        972px;
$ftcomWellWidth:    600px;
$ftphotoRatio:       1.78;

body {
    background: $bodyBackground;
    margin: 0 auto;
    width: 100%;
    font-family: $sansFontFamily;
    padding: 0;
    color: $textColor;
}

.narrow {
	width: 100%;
}

.hidden {
	visibility: hidden;
	display: none;
}

#error-msg {
	background-color: $claretFill;
	color: #fff;
}

#error-msg ul {
	margin: 0;
	list-style-type: none;
	padding: 6px;
}
#error-msg li {
	padding: 2px 0;
}